<%= form_with model: menu, local: true,  html: { class: "" } do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <%= form.label :date, "Digite a data de criação do cardápio:" %>
  <div class="d-flex flex-row">
    <%= form.date_select :date, { :order => [:day, :month, :year], 
        :start_year => Date.current.year, :end_year => 1960,
        :prompt => {day: 'Dia', month: 'Mês', year: 'Ano'}, :discard_hour => true }, class: 'form-control mr-2'  %>
    
  </div>
  <br>
  <div class="text-center">
    <%= form.submit "Criar cardápio", class: "btn btn-primary my-3", style:"background-color: #F28D3C; border: none;" %>
  </div>
<% end %>

