<h1>Importando Card치pios</h1>


<h5>Selecione o arquivo card치pio a ser importado</h5>
<%= form_for @menu_import do |f| %>
  <% if @menu_import.errors.any? %>
    <%= pluralize(@menu_import.errors.count, "erros") %> impediram esse card치pio de ser salvo.
    <ul>
      <% @menu_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.file_field :file %>
  <%= button_tag 'Importar Card치pio', name: 'route_to[create_sheet]' %>
<% end %>