<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Cardápios</h1>
  <h3>Cardápios da semana</h3>
  <table style="background-color: #F28D3C;" class="table">
    <thead>
      <tr>
      <th>Domingo</th>
      <th>Segunda-feira</th>
      <th>Terça-feira</th>
      <th>Quarta-feira</th>
      <th>Quinta-feira</th>
      <th>Sexta-feira</th>
      <th>Sábado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>
          <div style="width: 6em; height: 4em; background-color: #aeaeae; margin: .5em;">
              <span style="padding: 1em; text-align: right;"><%=   %></span>
          </div>
          </td>
      <% @week_menus.each do |mm|  %>
        <td>
        <%= link_to mm do %>
          <div style="width: 6em; height: 4em; background-color: white; margin: .5em;">
              <span style="padding: 1em; text-align: right;"><%= mm.date.strftime("%d") %></span>
          </div>
        <% end %>
        </td>
        <% if mm.date.wday == 6 %>
        </tr>
        <tr>
        <% end %>
      <% end %>
          <td>
            <div style="width: 6em; height: 4em; background-color: #aeaeae; margin: .5em;">
                <span style="padding: 1em; text-align: right;"><%=   %></span>
            </div>
          </td>
      </tr>
    </tbody>
  </table>

  <div style="display:flex;">
    <%= link_to 'Criar cardápio', new_menu_path, class:"btn btn-primary m-2" %>
    <%= link_to 'Importar cardápios da semana', new_menus_import_path, class:"btn btn-primary m-2" %>
  </div>

  <% if user_signed_in?  %>
    <br><br>  
    <h3>Todos os cardápios cadastrados</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Cardápio</th>
        </tr>
      </thead>
      <tbody>
        <% @menus.each do |cardapio| %>
          <tr>
            <td><%= cardapio.id %></td>
            <td><%= cardapio.date.strftime("%A, %d %B %Y") %></td>
            <td>
              <%= link_to 'Show', cardapio, class:"btn btn-primary m-2" %>
              <%= link_to 'Edit', cardapio, class:"btn btn-primary m-2" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end  %>
</div>