<p id="notice"><%= notice %></p>

<div class="container">
  <br><br>
  <h1>Cardápios</h1>

  <div style="display:flex;">
    <%= link_to 'Criar cardápio', new_menu_path, class:"btn btn-primary my-2 mr-4", style:"background-color: #F28D3C; border: none;"%>
    <%= link_to 'Importar cardápios da semana', new_menus_import_path, class:"btn btn-primary my-2 ", style:"background-color: #F28D3C; border: none;" %>
  </div>

  <br><br>
  <h3>Cardápios da semana</h3>
  <table class="table">
    <thead style="background-color: #F28D3C; color: white;">
      <tr>
        <th>Segunda-feira</th>
        <th>Terça-feira</th>
        <th>Quarta-feira</th>
        <th>Quinta-feira</th>
        <th>Sexta-feira</th>
        <th>Sábado</th>
        <th>Domingo</th>
      </tr>
    </thead>
    <tbody style="background-color: #F2F3F2;">
      <tr>
        <% @week_menus.each do |menu|  %>
          <% if menu %>
            <td>
              <%= link_to "Dia "+menu.date.strftime("%d"), menu , class:"btn btn-dark m-1 px-3" %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>

    <br><br>  
    <h3>Todos os cardápios cadastrados</h3>
    <table class="table table-striped">
      <thead style="background-color: #F28D3C; color: white;" >
        <tr>
          <th>ID</th>
          <th>Semana</th>
          <th>Data</th>
          <th>Gerenciar</th>
        </tr>
      </thead>
      <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.id %></td>
            <td><%= menu.date.strftime("%U") %></td>
            <td><%= menu.date.strftime("%A, %d %B %Y") %></td>
            <td>
              <%= link_to 'Mostrar', menu, class:"btn btn-primary m-2" %>
              <%= link_to 'Editar', edit_menu_path(menu), class:"btn btn-primary m-2" %>
              <%= link_to 'Excluir', menu_path(menu), method: :delete,  data: { confirm: 'Are you sure?' }, class:"btn btn-danger m-2" %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>