<div class="container">
  <br><br>
  <h1>Cardápios</h1>

  <div class="d-flex">
    <%= link_to 'Criar cardápio', new_menu_path, class:"menus-button btn btn-primary my-2 mr-4" %>
    <%= link_to 'Importar cardápios da semana', new_menus_import_path, class:"menus-button btn btn-primary my-2" %>
  </div>

  <br><br>
  <h3>Cardápios da semana</h3>
  <table class="table table-pallete">
    <thead>
      <tr class="text-center" >
        <th>Segunda-feira</th>
        <th>Terça-feira</th>
        <th>Quarta-feira</th>
        <th>Quinta-feira</th>
        <th>Sexta-feira</th>
        <th>Sábado</th>
        <th>Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" >
        <% @week_menus.each do |menu|  %>
          <% if menu %>
            <td>
              <%= link_to "Dia "+menu.date.strftime("%d"), menu , class:"menu-show btn m-1 px-3" %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>

  <div>
    <% if user_signed_in?  %>
      <br><br>  
      <h3>Todos os cardápios cadastrados</h3>
      <table class="table table-striped table-pallete">
        <thead>
          <tr>
            <th>ID</th>
            <th>Semana</th>
            <th>Data</th>
            <th>Gerenciar</th>
          </tr>
        </thead>
        <tbody>
          <% @menus.each do |menu| %>
            <tr>
              <td><%= menu.id %></td>
              <td><%= menu.date.strftime("%U") %></td>
              <td><%= menu.date.strftime("%A, %d %B %Y") %></td>
              <td>
                <%= link_to 'Mostrar', menu, class:"btn btn-primary" %>
                <%= link_to 'Editar', edit_menu_path(menu), class:"btn btn-primary" %>
                <%= link_to 'Excluir', menu_path(menu), method: :delete,  data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <br><br>
      <p>Para acessar lista de cardápio, logue como gestor</p>
    <% end  %>
  </div>
</div>