<br><br>
<div class="container py-3" style="background-color: #F2F3F2;">
  <h2 class="text-center" style="background-color: #F28D3C;color: white;" >Cardápio de <%= @menu.date.strftime("%A, %d/%m/%Y") %></h2>
  <div class="d-flex my-3" >
    <div class="col-sm" style="background-color: white;" >
      <% if @menu.breakfast %>
        <h4>Café da manhã</h4>
        <br>
        <p><strong>Bebidas quentes:</strong> <%= @menu.breakfast.hot_drinks %></p>
        <p><strong>Vegetariano:</strong> <%= @menu.breakfast.vegetarian_drink %></p>
        <p><strong>Achocolatado:</strong> <%= @menu.breakfast.chocolate_milk %></p>
        <p><strong>Pão:</strong> <%= @menu.breakfast.bread %></p>
        <p><strong>Pão Vegetariano:</strong> <%= @menu.breakfast.vegetarian_bread %></p>
        <p><strong>Margarina:</strong> <%= @menu.breakfast.margarine %></p>
        <p><strong>Margarina Vegetariana:</strong> <%= @menu.breakfast.vegetarian_margarine %></p>
        <p><strong>Complemento:</strong> <%= @menu.breakfast.complement %></p>
        <p><strong>Complemento Vegetariana:</strong> <%= @menu.breakfast.vegetarian_complement %></p>
        <p><strong>Fruta:</strong> <%= @menu.breakfast.fruit %></p>
        <div class="text-center">
          <%= link_to 'Editar Café da Manhã', edit_breakfast_path(@menu.breakfast), class:"btn btn-primary my-2 mr-4", style:"background-color: #F28D3C; border: none;" %>
        </div>
      <% else %>
      <div class="text-center">
        <%= link_to 'Criar Café da Manhã', new_breakfast_path(menu_id: @menu.id), class:"btn btn-primary my-2 mr-4", style:"background-color: #F28D3C; border: none;" %>
      </div>
      <% end %>
    </div>
    <div class="col-sm mx-3" style="background-color: white;" >a</div>
    <div class="col-sm" style="background-color: white;" >a</div>
  </div>
</div>