<center>
  <%= image_tag "rumor-logo.png" %>
  <h3>Consultar Cardápio</h3>

  <%= form_tag(welcome_index_path, :method => "get") do %>  
    <div class="input-group">  
      <p> 
      <p> Data </p> 
      <%= date_field_tag :data%>
      </p>
      
      <p> 
      <p> Campus </p> 
      <%= text_field_tag :campus%>
      </p>  
      
      <p>
      <%= button_tag "Consultar", id: "Consultar"%> 
      </p>

    </div>  
  <% end %>
  
  <br>

  <% if @cardapio.nil? == false%>
    <h3>Cardápio do dia</h3>
    <p> 
    <%=@cardapio.campus%> <%=@cardapio.data%> 
    </p>
    <p>  
    RU NOTA: <%=@ru.nota%> 
    </p> 
    <p>  
    HORÁRIO DE FUNCIONAMENTO: <%=@ru.working_hour%> 
    </p>
    <div hidden> <button type="button" id="avaliar_menu"> <a href="/menu_reviews/new">Avaliar Cardápio</a></button> </div>
    <div id="avaliar_menu">
    <%= link_to("Avaliar Cardápio", "/menu_reviews/new")%>
    </div>

    <div hidden> <button type="button" id="avaliar_ru"> <a href="/ru_reviews/new">Avaliar RU</a></button> </div>
    <div id="avaliar_ru">
    <%= link_to("Avaliar RU", "/ru_reviews/new")%>
    </div>
    

    <p type="hidden" id="text_element">http://localhost:3000/pages/cardapio_1</p>
    <div id="compartilhar">
    <form action="/pages/cardapio" class="button_to" data-remote="true" method="get">
    <input type="submit" value="Compartilhar" />
    </form>
    </div>
    </p> 

    <table style="display: inline-block; border: 1px solid; float: center;">
    <thead>
    <tr>
    <th colspan="2"> Café da Manhã </th>
    </tr>
    </thead>
    <tbody>
    <tr> 
    <td>Bedidas Quentes:</td>
    <td> <%= @cardapio.bebidas_quentes %></td>
    </tr>
    <tr> 
    <td>Bedida Vegetariana:</td>
    <td> <%= @cardapio.bebida_vegetariana %></td>
    </tr>
    <tr> 
    <td>Achocolatado:</td>
    <td> <%= @cardapio.achocolatado %></td>
    </tr>
    <tr> 
    <td>Pão:</td>
    <td> <%= @cardapio.pao %></td>
    </tr>
    <tr> 
    <td>Pão Vegetariano:</td>
    <td> <%= @cardapio.pao_vegetariano %></td>
    </tr>
    <tr> 
    <td>Complemento:</td>
    <td> <%= @cardapio.complemento %></td>
    </tr>
    <tr> 
    <td>Complemento Vegetariano:</td>
    <td> <%= @cardapio.complemento_vegetariano %></td>
    </tr>
    <tr> 
    <td>Frutas:</td>
    <td> <%= @cardapio.frutas %></td>
    </tr>
    </tbody>
    </table>

    <table style="display: inline-block; border: 1px solid; float: center;">
    <thead>
    <tr>
    <th colspan="2"> Almoço </th>
    </tr>
    </thead>
    <tbody>
    <tr> 
    <td>Salada:</td>
    <td> <%= @cardapio.almoco_salada %></td>
    </tr>
    <tr> 
    <td>Molho:</td>
    <td> <%= @cardapio.almoco_molho %></td>
    </tr>
    <tr> 
    <td>Prato Principal:</td>
    <td> <%= @cardapio.almoco_prato_principal %></td>
    </tr>
    <tr> 
    <td>Guarnição:</td>
    <td> <%= @cardapio.guarnicao %></td>
    </tr>
    <tr> 
    <td>Prato Vegetariano:</td>
    <td> <%= @cardapio.almoco_prato_vegetariano %></td>
    </tr>
    <tr> 
    <td>Acompanhamentos:</td>
    <td> <%= @cardapio.almoco_acompanhamentos %></td>
    </tr>
    <tr> 
    <td>Sobremesa:</td>
    <td> <%= @cardapio.almoco_sobremesa %></td>
    </tr>
    <tr> 
    <td>Refresco:</td>
    <td> <%= @cardapio.almoco_refresco %></td>
    </tr>
    </tbody>
    </table>

    <table style="display: inline-block; border: 1px solid; float: center;">
    <thead>
    <tr>
    <th colspan="2"> Jantar </th>
    </tr>
    </thead>
    <tbody>
    <tr> 
    <td>Salada:</td>
    <td> <%= @cardapio.jantar_salada %></td>
    </tr>
    <tr> 
    <td>Molho:</td>
    <td> <%= @cardapio.jantar_molho %></td>
    </tr>
    <tr> 
    <td>Prato Principal:</td>
    <td> <%= @cardapio.jantar_prato_principal %></td>
    </tr>
    <tr> 
    <td>Sopa:</td>
    <td> <%= @cardapio.sopa %></td>
    </tr>
    <tr> 
    <td>Prato Vegetariano:</td>
    <td> <%= @cardapio.jantar_prato_vegetariano %></td>
    </tr>
    <tr> 
    <td>Acompanhamentos:</td>
    <td> <%= @cardapio.jantar_acompanhamentos %></td>
    </tr>
    <tr> 
    <td>Sobremesa:</td>
    <td> <%= @cardapio.jantar_sobremesa %></td>
    </tr>
    <tr> 
    <td>Refresco:</td>
    <td> <%= @cardapio.jantar_refresco %></td>
    </tr>
    </tbody>
    </table>

    <% else %>
    <p> Hmm.. Será que hoje tem lasanha? </p>

  <% end %>

  <br>
  <br>

  <h2>Localização Dos Restaurantes</h2>

  <div id="localizacao">
  <a id="darcy_link" href="/pages/darcy">Darcy Ribeiro</a>
  </br> <a id="gama_link" href="/pages/gama">Gama</a>
  </br> <a id="ceilandia_link" href="/pages/ceilandia">Ceilandia</a>
  </br> <a id="planaltina_link" href="/pages/planaltina">Planaltina</a>
  </div> </br>
  
   <%# <a href="/pages/cardapio">Compartilhar Cardápio</a> </br> %>


</center>

<h1>Menu Antigo</h1>

<a href="/pages/cardapio">Cardápio e Localização dos Restaurantes</a> <br>

<%= link_to("Horário de Funcionamento", "/working_hour")%>
<br>  
<%= link_to("Avaliação do Cardápio do Dia", "/view_rating")%>
