<div class="container">
  <h1><b>Café</b></h1>
    <h2> Listar por refeições: </h2>
      <div style="display:flex;">
        <p><%= link_to 'Café', breakfast_satisfactions_path, class:"btn btn-primary m-2"%></p>
        <p><%= link_to 'Almoço', lunch_satisfactions_path, class:"btn btn-primary m-2"%></p>
        <p><%= link_to 'Janta', dinner_satisfactions_path, class:"btn btn-primary m-2"%></p>
      </div>
  <table class="table table-striped">
      <thead style="background-color: #F28D3C; color: white;">
        <tr>
          <th>User group</th>
          <th>Meal</th>
          <th>Rating</th>
          <th>Like</th>
          <th>Disgust</th>
          <th>Suggestion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @customer_satisfactions.each do |customer_satisfaction| %>
            <% if customer_satisfaction.meal == "Cafe" %>
              <tr>
                <td><%= customer_satisfaction.user_group %></td>
                <td><b><%= customer_satisfaction.meal %></b></td>
                <td><%= customer_satisfaction.rating %></td>
                <td><%= customer_satisfaction.like %></td>
                <td><%= customer_satisfaction.disgust %></td>
                <td><%= customer_satisfaction.suggestion %></td>
                <td><%= link_to 'Ver detalhes', customer_satisfaction,class:"btn btn-primary m-2" %></td>
                <td><%= link_to 'Apagar', customer_satisfaction, method: :delete, class:"btn btn-danger m-2" %></td>
              </tr>
            <% end %>  
        <% end %>
      </tbody>
  </table>
</div>

