<%= form_with(model: review_dinner, url: [@dinner, @review_dinner]) do |form| %>
  <% if review_dinner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_dinner.errors.count, "error") %> prohibited this review_dinner from being saved:</h2>

      <ul>
      <% review_dinner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="star-rating"></div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '../../../assets',
    hints: ['terrível', 'ruim', 'normal', 'bom', 'excelente'],
    scoreName: 'review_dinner[rating]'
  });
</script>
