<%= form_with(model: customer_satisfaction, local: true) do |form| %>
  <% if customer_satisfaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_satisfaction.errors.count, "error") %> prohibited this customer_satisfaction from being saved:</h2>

      <ul>
      <% customer_satisfaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= form.label :user_group %>
    <%= form.select :user_group, ['1', '2', '3'] %>
  </div>

  <div class="form-group">
    <%= form.label :meal %>
    <%= form.select :meal, ['Almoco', 'Cafe', 'Janta'] %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.select :rating, ['1', '2', '3', '4', '5'] %>
  </div>
  
  <div class="form-group">
    <%= form.label :like %>
    <%= form.text_area :like %>
  </div>

  <div class="form-group">
    <%= form.label :disgust %>
    <%= form.text_area :disgust %>
  </div>

  <div class="form-group">
    <%= form.label :suggestion %>
    <%= form.text_area :suggestion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

