
<h1>Quantidade de respostas por refeição</h1>
<%= line_chart @line_chart %>

<h1>Notas do usuários</h1>
<%= pie_chart @pie_chart %>

<h1>Grupo de usuário</h1>
<%= column_chart @column_chart %>

<h1>Nota por grupo de usuários 1</h1>
<%= column_chart @customer_by_rating_1 %>


<h1>Nota por grupo de usuários 2</h1>
<%= column_chart @customer_by_rating_2 %>

<h1>Nota por grupo de usuários 3</h1>
<%= column_chart @customer_by_rating_3 %>