<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo:</strong>
  <%= @customer_satisfaction.user_group %>
</p>

<p>
  <strong>Refeição:</strong>
  <%= @customer_satisfaction.meal %>
</p>

<p>
  <strong>Avaliação:</strong>
  <%= @customer_satisfaction.rating %>
</p>

<p>
  <strong>Gostou de:</strong>
  <%= @customer_satisfaction.like %>
</p>

<p>
  <strong>Não gostou de:</strong>
  <%= @customer_satisfaction.disgust %>
</p>

<p>
  <strong>Sugestão:</strong>
  <%= @customer_satisfaction.suggestion %>
</p>

<!--<%= link_to 'Edit', edit_customer_satisfaction_path(@customer_satisfaction) %> | -->
<%= link_to 'voltar', customer_satisfactions_path %>
