<p id="notice"><%= notice %></p>

<p>
  <strong>User group:</strong>
  <%= @customer_satisfaction.user_group %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @customer_satisfaction.meal %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @customer_satisfaction.rating %>
</p>

<p>
  <strong>Like:</strong>
  <%= @customer_satisfaction.like %>
</p>

<p>
  <strong>Disgust:</strong>
  <%= @customer_satisfaction.disgust %>
</p>

<p>
  <strong>Suggestion:</strong>
  <%= @customer_satisfaction.suggestion %>
</p>

<%= link_to 'Edit', edit_customer_satisfaction_path(@customer_satisfaction) %> |
<%= link_to 'Back', customer_satisfactions_path %>
