<%= form_with(model: lunch, local: true) do |form| %>
  <% if lunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lunch.errors.count, "error") %> prohibited this lunch from being saved:</h2>

      <ul>
      <% lunch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :salad %>
    <%= form.text_field :salad %>
  </div>

  <div class="field">
    <%= form.label :sauce %>
    <%= form.text_field :sauce %>
  </div>

  <div class="field">
    <%= form.label :main_course %>
    <%= form.text_field :main_course %>
  </div>

  <div class="field">
    <%= form.label :garnish %>
    <%= form.text_field :garnish %>
  </div>

  <div class="field">
    <%= form.label :vegetarian_dish %>
    <%= form.text_field :vegetarian_dish %>
  </div>

  <div class="field">
    <%= form.label :accompaniments %>
    <%= form.text_field :accompaniments %>
  </div>

  <div class="field">
    <%= form.label :dessert %>
    <%= form.text_field :dessert %>
  </div>

  <div class="field">
    <%= form.label :juice %>
    <%= form.text_field :juice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
