<%= form_with(model: dinner, local: true) do |form| %>
  <% if dinner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dinner.errors.count, "error") %> prohibited this dinner from being saved:</h2>

      <ul>
      <% dinner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= @menu.first.date %>
  <div class='form-group'>
    <%= form.label :menu_id, 'Dia do cardápio' %>
    <%= form.collection_select(:menu_id, @menu.first, :id, :date, {}, {class: 'form-control'}) %>
  </div>
  <div class="field">
    <%= form.label :salad %>
    <%= form.text_field :salad %>
  </div>

  <div class="field">
    <%= form.label :sauce %>
    <%= form.text_field :sauce %>
  </div>

  <div class="field">
    <%= form.label :soup %>
    <%= form.text_field :soup %>
  </div>

  <div class="field">
    <%= form.label :main_course %>
    <%= form.text_field :main_course %>
  </div>

  <div class="field">
    <%= form.label :vegetarian_dish %>
    <%= form.text_field :vegetarian_dish %>
  </div>

  <div class="field">
    <%= form.label :accompaniments %>
    <%= form.text_field :accompaniments %>
  </div>

  <div class="field">
    <%= form.label :dessert %>
    <%= form.text_field :dessert %>
  </div>

  <div class="field">
    <%= form.label :juice %>
    <%= form.text_field :juice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
